//text-color
$text-color-content: #fff;
$text-color-login: #3e3f5e;
$text-color-forgot: #adafca;
// bgr-btn
$bgr-btn: #615dfa;
$bgr-btn-2: #23d2e2;
// bgr-color-social
$bgr-color-fb: #3763d2;
$bgr-color-twitter: #1abcff;
$bgr-color-twitch: #7b5dfa;
$bgr-color-youtube: #fd434f;
