.about-section {
  .about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    > .row {
      row-gap: 20px;
      .img-about {
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@include screen(md) {
  .about-section {
    .about-wrap {
      > .row {
        align-items: center;
      }
    }
  }
  .reverse-row {
    flex-direction: row-reverse;
  }
}
@include screen(lg) {
  .about-section {
    margin: 0 auto;
  }

  .about-section {
    .about-wrap {
      > .row {
        justify-content: space-between;
      }
    }
  }
}
@include screen(xl) {
  .title-about {
    > .title-sub {
      font-size: 5.2rem;
    }
  }
}
