.item-task {
  background-color: rgb(202, 162, 98);
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

textarea:focus,
input:focus {
  outline: 0;
}

.item-task textarea,
.item-task p {
  width: 100%;
  resize: none;
  height: 90px;
  background-color: rgb(202, 162, 98);
  border: none;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 2rem;
}

.item-task button {
  align-self: flex-start;
}
