* {
    padding: 0;
    margin: 0;
    box-sizing: border-boxs;
}

html {
    font-size: 10px;
}

body {
    background-color: #71C9CE;
    color: #E3FDFD;
    font-size: 1.6rem;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
}