<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F8 - Học lập trình để đi làm</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <main class="">
      <div class="container py-5">
        <div class="row">
          <div class="col-2">
            <div class="d-flex flex-column gap-2">
              <a href="/">Trang chủ</a>
              <a href="/users">Quản Lý người dùng</a>
              <a href="/roles">Quản Lý quyền</a>
            </div>
          </div>
          <div class="col-10"><%- body %></div>
        </div>
      </div>
    </main>
  </body>
</html>
