.wrap-content {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 30px;
}

.wrap-content .title-content {
    color: #319795;
}

.wrap-content .number-turns {
    color: #2c7a7b;
}

.wrap-content .suggest {
    color: #285e61;
}