* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;

}

.container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    background-color: black;
}

.container .quiz-game {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-height: 100vh;
    background-color: #fff;
    background-image: url(../img/81ffe3d1507fd48f9f9a3051d2fdb781.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-game .quiz-start {
    width: 100%;
    text-align: center;
    line-height: 55px;

}

.quiz-game .quiz-start button {

    padding: 25px 25px;
    background-color: #ffffff00;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 5px;
    letter-spacing: 3px;
}

.quiz-game .quiz-start button:hover {
    background-color: #cccccca3;
    color: rgba(87, 37, 168, 0.815);
}

.count-start {
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;

    height: 55px;
    background-color: rgba(0, 0, 0, 0.445);
}

.count-start span {
    font-size: 0rem;
    transition: font-size 0.2s ease-out;
}

/* .count-start span:hover {
    font-size: 4rem;
} */
.question-wrap {
    width: 100%;

    height: 100%;
    color: #fff;
}

.question-wrap .quiz-top .progress-bar {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: relative;
    border-radius: 5px;
    overflow: hidden;

}

.quiz-top .progress-bar .progress-bar-inner {
    display: block;
    position: absolute;
    background-color: rgb(81, 0, 255);
    width: 100%;
    top: 0;
    bottom: 0;
    /* transition: width 0.5s ease; */
}

.quiz-top .item-top {
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-right {
    display: flex;
    width: 50%;
    gap: 10px;
    align-items: center;
}

.item-right .total-quiz {
    background-color: rgba(71, 64, 64, 0.748);
    padding: 10px 10px;
    border-radius: 5px;
}

.item-right .streak {
    width: 50%;
    border-radius: 10px;
    height: 40px;
    background-color: rgba(30, 30, 11, 0.685);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.item-right .streak .streak-line-right,
.item-right .streak .streak-line-left {
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: #fff;
}

.item-right .streak .streak-line-right {
    right: 33.33333%;

}

.item-right .streak .streak-line-left {
    left: 33.33333%;

}

.item-right .streak .streak-status {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(223, 87, 28, 0.952);
    width: 0;
}



.question-wrap .quiz-mid {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    gap: 20px;

}

.quiz-mid .content-quiz {
    height: 30vh;
    background-color: rgba(71, 64, 64, 0.663);
    font-size: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(194, 194, 212, 0.25) 0px 50px 100px -20px, rgba(255, 251, 251, 0.3) 0px 30px 60px -30px, rgba(162, 179, 212, 0.35) 0px -2px 6px 0px inset;

}

.quiz-mid .answer-quiz {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.answer-quiz .item-answer {
    background-color: rgba(71, 64, 64, 0.663);
    width: calc(100% /3);
    height: 30vh;
    box-shadow: rgba(194, 194, 212, 0.25) 0px 50px 100px -20px, rgba(255, 251, 251, 0.3) 0px 30px 60px -30px, rgba(162, 179, 212, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.answer-quiz .item-answer:hover {
    background-color: #ccc;
}

.question-wrap .quiz-footer {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(116, 233, 21, 0.89);
    height: 20vh;


}