* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-image: url(../img/background/background.png);
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-wrap {
    margin: 0 auto;
    width: 70%;
    background-color: #141214b6;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(253, 251, 251, 0.482) 0px 7px 29px 0px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
}

img {
    height: auto;
    width: 100%;
}

.side-bar-right {
    padding: 30px;
    background-color: #231E23;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo {
    text-align: center;
    font-size: 3.5rem;
}

.logo span {
    font-family: 'Iceland', cursive;
}

.logo .fist-text {
    color: #FF6000;
}

.logo .second-text {
    color: #4E4FEB;
}

.logo img {
    width: 150px;
}

.search {
    position: relative;

}

.search label {
    position: absolute;
    line-height: 32px;
    padding-left: 8px;

}

.search input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 8px 0 8px 30px;
    color: #fff;
    background-color: #7567757d;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu ul {
    margin: 0 -30px;

}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    padding: 15px 30px;
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu ul li a i {
    font-size: 2rem;
    display: block;
    min-width: 25px;
}

hr {
    margin: 10px 0;

}

.active {
    position: relative;
    background-color: #75533d9f;
}

.active::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FF6000;
    top: 0;
    bottom: 0;
    width: 5px;

}