.benefit-section {
  overflow: hidden;

  .benefit-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff0e7;
    padding: 50px 0;
    gap: 20px;

    counter-reset: list-benefit;

    .item-benefit {
      counter-increment: list-benefit;
      padding: 0 20px;
      display: flex;
      .img-benefit {
        width: 100%;
        img {
          display: block;
          width: 100%;
        }
        .content-benefit {
          padding: 20px 26px 20px 23px;
          border-radius: 0 0 10px 10px;
          background-color: #ffff;
          width: 100%;
          > .para-a2 {
            display: flex;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            align-items: center;
            gap: 5px;
            color: #e05000;
            padding-bottom: 5px;
            &::before {
              content: "0" counter(list-benefit) ".";
              display: block;
            }
          }
        }
      }
    }
  }
}
@include screen(md) {
  .benefit-section {
    > .container {
      padding: 0;
    }
    .title-benefit {
      > .para-4 {
        text-align: center;
        margin: 0 auto;
        width: 70%;
      }
    }
    .benefit-wrap {
      display: flex;
      .item-benefit {
        .img-benefit {
          display: flex;
          flex-direction: row;
          .content-benefit {
            border-radius: 0 10px 10px 0;
          }
        }
      }
    }
  }
}
@include screen(lg) {
  .benefit-section {
    .benefit-wrap {
      flex-direction: row;
      gap: 5px;
      background-color: #ffff;
      > .col-xl-4 {
        z-index: 1;
      }

      &::after {
        content: "";
        background-color: #fff0e7;
        position: absolute;
        display: block;
        height: 433px;
        top: 30%;
        right: 0;
        left: 0;
      }
      .item-benefit,
      &.benefit-wrap {
        padding: 0;
      }
      .item-benefit {
        z-index: -1;
        .img-benefit {
          display: flex;
          flex-direction: column;
          .content-benefit {
            height: 220px;
            border-radius: 0 0 10px 10px;
          }
        }
      }
    }
  }
}
@include screen(xxl) {
  .benefit-section {
    .benefit-wrap {
      width: 1305px;
      margin: 0 auto;
      &::after {
        right: -30%;
        left: -30%;
      }
      .item-benefit {
        width: 415px;
        .img-benefit {
          .content-benefit {
            height: 197px;
          }
        }
      }
    }
  }
}
