.container {
  --container-width: 1440px;
}
/* Các class text dùng chung */
.para-3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 26px;
}
.para-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px;
  text-align: left;
  width: 100%;
  padding-bottom: 30px;
}
.title-main {
  font-size: 3.5rem;
  font-weight: 700;
}
.title-sub {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 24.979px;
  padding-bottom: 30px;
}
.para-a2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px;
}
.caption-1 {
  font-size: 1.8rem;
  font-weight: 500;
}
.para-a3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;
}
.para-a4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 24px;
}
.title-menu {
  margin-top: 15%;
  text-align: center;
  padding: 30px;
  width: 100%;
  background-color: #f2ffec;
  @include screen(sm) {
    margin: 94px 0 0 0;
  }
  @include screen(lg) {
    text-align: left;
    margin: 80px 0 120px 0;
  }
  @include screen(xl) {
    margin: 94px 0 120px 0;
    padding: 68px 68px 68px 68px;
  }
}

@include screen(md) {
  .title-sub {
    font-size: 3.8rem;
    text-align: center;
    line-height: 49.9px;
  }
  .space-section {
    margin-bottom: 120px;
  }
  .padding-section {
    padding: 30px 0;
  }
}
