#root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-login {
    width: fit-content;
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 15px;
}

.content-login button {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    background-color: #dea217d7;
    text-transform: uppercase;
}