* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Font title*/
@font-face {
  font-family: "Titillium";
  src: url(../fonts/Titillium-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Titillium";
  src: url(../fonts/Titillium-Black.otf);
  font-weight: 600;
}
/*Font content*/
@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-SemiBold.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-Bold.ttf);
  font-weight: 600;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
}

.lading {
  padding: 80px 0 100px 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: url(../imgs/landing-background.jpg) no-repeat 0;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
.lading .lading-decor {
  width: 64%;
  height: 140%;
  background: url(../imgs/dot-texture.png) repeat #fff;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  right: -32%;
  display: none;
}

@media screen and (min-width: 1400px) {
  .lading .lading-decor {
    display: block;
  }
}
.lading-wrap {
  color: #fff;
  text-align: center;
}
.lading-wrap .lading-info {
  width: 100%;
}
.lading-wrap .lading-info .lading-info-img {
  height: 62px;
}
.lading-wrap .lading-info .lading-title span {
  display: block;
  margin-top: 25px;
  font-size: 1.5em;
  font-family: "Titillium", sans-serif;
  font-weight: 300;
}
.lading-wrap .lading-info .lading-title h1 {
  font-family: "Titillium", sans-serif;
  font-weight: 600;
  line-height: 104px;
  font-size: 3.75em;
  text-transform: uppercase;
}
.lading-wrap .lading-info .lading-title p {
  display: none;
}
.lading-wrap .tab-switch-wrap {
  display: flex;
  margin: 40px auto 0 auto;
  justify-content: center;
}
.lading-wrap .tab-switch-wrap label {
  width: 180px;
  display: block;
  line-height: 54px;
  font-size: 1.2em;
  border: 1px solid #fff;
}
.lading-wrap .tab-switch-wrap label[for=register-tab] {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.lading-wrap .tab-switch-wrap label[for=login-tab] {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.lading-wrap .convert {
  display: none;
}
.lading-wrap .convert:nth-of-type(1):checked ~ .input-tab label[for=login-tab], .lading-wrap .convert:nth-of-type(2):checked ~ .input-tab label[for=register-tab] {
  background-color: #fff;
  color: #3e3f5e;
}
.lading-wrap .convert:nth-of-type(2):checked ~ .lading-form .login-form, .lading-wrap .convert:nth-of-type(1):checked ~ .lading-form .register-form {
  display: none;
}

@media screen and (min-width: 576px) {
  .lading-wrap .lading-info .lading-title h1 {
    font-size: 6.75em;
  }
}
@media screen and (min-width: 1400px) {
  .lading-wrap .lading-info .lading-title p {
    text-align: center;
    margin: 30px auto 0 auto;
    width: 384px;
    display: block;
  }
  .lading-wrap .tab-switch-wrap {
    margin-top: 90px;
  }
}
.lading-form {
  margin-top: 80px;
  width: 100%;
}
.lading-form .margin-input {
  margin-top: 24px;
}
.lading-form .form-box {
  width: 100%;
  padding: 64px;
  border-radius: 12px;
  color: #3e3f5e;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
  margin: 0 auto;
  font-size: 0.875em;
}
.lading-form .form-box .form-box-title {
  line-height: 1em;
  font-size: 1.675em;
  font-weight: 600;
}
.lading-form .form-box .from-box-rocket {
  display: none;
}
.lading-form .form-box form {
  margin-top: 76px;
  width: 100%;
}
.lading-form .form-box form .form-row {
  display: flex;
  width: 100%;
}
.lading-form .form-box form .form-row .form-item {
  width: 100%;
  position: relative;
}
.lading-form .form-box form .form-row .form-item input {
  width: 100%;
  height: 54px;
  padding: 0 12px;
  border: 1px solid #dedede;
  border-radius: 12px;
}
.lading-form .form-box form .form-row .form-item input:focus {
  border-color: #615dfa;
}
.lading-form .form-box form .form-row .form-item input[name=check-box], .lading-form .form-box form .form-row .form-item input[name=check-box-register] {
  display: none;
}
.lading-form .form-box form .form-row .form-item input[name=check-box]:checked ~ label::after, .lading-form .form-box form .form-row .form-item input[name=check-box-register]:checked ~ label::after {
  display: block;
}
.lading-form .form-box form .form-row .form-item input[name=name-email]:focus ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=name-email]:focus ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=name-email]:focus ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=name-email]:focus ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=name-email]:focus ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=name-email]:focus ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=name-email]:valid ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=name-email]:valid ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=name-email]:valid ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=name-email]:valid ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=name-email]:valid ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=name-email]:valid ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=password]:focus ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=password]:focus ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=password]:focus ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=password]:focus ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=password]:focus ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=password]:focus ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=password]:valid ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=password]:valid ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=password]:valid ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=password]:valid ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=password]:valid ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=password]:valid ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=user-email]:focus ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=user-email]:focus ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=user-email]:focus ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=user-email]:focus ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=user-email]:focus ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=user-email]:focus ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=user-email]:valid ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=user-email]:valid ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=user-email]:valid ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=user-email]:valid ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=user-email]:valid ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=user-email]:valid ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=user-name]:focus ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=user-name]:focus ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=user-name]:focus ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=user-name]:focus ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=user-name]:focus ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=user-name]:focus ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=user-name]:valid ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=user-name]:valid ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=user-name]:valid ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=user-name]:valid ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=user-name]:valid ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=user-name]:valid ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=password-register]:focus ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=password-register]:focus ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=password-register]:focus ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=password-register]:focus ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=password-register]:focus ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=password-register]:focus ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=password-register]:valid ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=password-register]:valid ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=password-register]:valid ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=password-register]:valid ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=password-register]:valid ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=password-register]:valid ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:focus ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:focus ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:focus ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:focus ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:focus ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:focus ~ label[for=password-repeat], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:valid ~ label[for=name-email], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:valid ~ label[for=password], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:valid ~ label[for=user-email], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:valid ~ label[for=user-name], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:valid ~ label[for=password-register], .lading-form .form-box form .form-row .form-item input[name=password-repeat]:valid ~ label[for=password-repeat] {
  top: -8px;
  background-color: #fff;
  font-size: 1em;
  padding: 0 5px;
}
.lading-form .form-box form .form-row .form-item label[for=name-email], .lading-form .form-box form .form-row .form-item label[for=password], .lading-form .form-box form .form-row .form-item label[for=user-email], .lading-form .form-box form .form-row .form-item label[for=user-name], .lading-form .form-box form .form-row .form-item label[for=password-register], .lading-form .form-box form .form-row .form-item label[for=password-repeat] {
  position: absolute;
  left: 13px;
  top: 18px;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
  color: #adafca;
}
.lading-form .form-box form .form-row .form-item label[for=check-box], .lading-form .form-box form .form-row .form-item label[for=check-box-register] {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
}
.lading-form .form-box form .form-row .form-item label[for=check-box]::before, .lading-form .form-box form .form-row .form-item label[for=check-box]::after, .lading-form .form-box form .form-row .form-item label[for=check-box-register]::before, .lading-form .form-box form .form-row .form-item label[for=check-box-register]::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  border-radius: 6px;
  height: 22px;
  width: 22px;
  outline: 1px solid #dedede;
}
.lading-form .form-box form .form-row .form-item label[for=check-box]::after, .lading-form .form-box form .form-row .form-item label[for=check-box-register]::after {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 1.2em;
  display: none;
  color: #fff;
  line-height: 22px;
  background-color: #23d2e2;
  border-color: #23d2e2;
}
.lading-form .form-box form .form-row .form-item button {
  height: 54px;
  width: 100%;
  border-radius: 10px;
  line-height: 54px;
  font-weight: 700;
  border: none;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
  color: #fff;
  transition: all 0.2s ease-in;
}
.lading-form .form-box form .form-row .form-item .btn-login {
  background-color: #615dfa;
}
.lading-form .form-box form .form-row .form-item .btn-login:hover {
  background-color: #5753e4;
}
.lading-form .form-box form .form-row .form-item .btn-register {
  background-color: #23d2e2;
}
.lading-form .form-box form .form-row .form-item .btn-register:hover {
  background-color: #1bc5d4;
}
.lading-form .form-box form .remember-forgot {
  justify-content: space-between;
  align-items: center;
}
.lading-form .form-box form .remember-forgot .form-item {
  width: auto;
}
.lading-form .form-box .form-para {
  margin-top: 40px;
  position: relative;
}
.lading-form .form-box .form-para::before, .lading-form .form-box .form-para::after {
  content: "";
  width: 70px;
  display: block;
  background-color: #eaeaf5;
  height: 1px;
  position: absolute;
  top: 7px;
}
.lading-form .form-box .form-para::before {
  left: 0;
}
.lading-form .form-box .form-para::after {
  right: 0;
}
.lading-form .form-box .links-social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.lading-form .form-box .links-social .link-social {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-left: 12px;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s;
}
.lading-form .form-box .links-social .link-social::before {
  font-family: "Font Awesome 6 Brands";
  color: #fff;
}
.lading-form .form-box .links-social .link-social:hover {
  transform: translateY(-5px);
}
.lading-form .form-box .links-social .facebook {
  background-color: #3763d2;
}
.lading-form .form-box .links-social .facebook::before {
  content: "\f39e";
}
.lading-form .form-box .links-social .twitter {
  background-color: #1abcff;
}
.lading-form .form-box .links-social .twitter::before {
  content: "\f099";
}
.lading-form .form-box .links-social .twitch {
  background-color: #7b5dfa;
}
.lading-form .form-box .links-social .twitch::before {
  content: "\f1e8";
}
.lading-form .form-box .links-social .youtube {
  background-color: #fd434f;
}
.lading-form .form-box .links-social .youtube::before {
  content: "\f167";
}
.lading-form .form-box a {
  text-decoration: none;
  color: #adafca;
}

@media screen and (min-width: 576px) {
  .lading-form .form-box {
    width: 484px;
  }
}
@media screen and (min-width: 1400px) {
  .lading {
    overflow: hidden;
    max-height: 100%;
  }
  .lading .lading-wrap .lading-form {
    height: 100%;
    width: 484px;
    position: absolute;
    top: -5%;
    right: 10%;
  }
  .lading .lading-wrap .lading-form .form-box .from-box-rocket {
    display: block;
    position: absolute;
    top: -5%;
    left: -5%;
  }
  .lading .lading-wrap .lading-form .login-form {
    position: absolute;
    top: 10%;
    right: 0;
    transform: translateY(-3%);
    transition: all 0.7s ease-in-out;
  }
  .lading .lading-wrap .lading-form .register-form {
    position: absolute;
    right: -160%;
    opacity: 0.5;
    transition: all 0.7s ease-in-out;
  }
  .lading .lading-wrap .convert:nth-of-type(2):checked ~ .lading-form .login-form {
    right: -160%;
    display: block;
  }
  .lading .lading-wrap .convert:nth-of-type(1):checked ~ .lading-form .register-form {
    display: block;
  }
  .lading .lading-wrap .convert:nth-of-type(2):checked ~ .lading-form .register-form {
    right: 0%;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
