* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    position: relative;



}

img {
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

figcaption {
    text-align: center;
    width: 100%;
    font-style: italic;
}

.container {
    width: 60%;
    margin: 0 auto;

}

.section {}

.section-item {
    padding: 30px;

}

.section-item .user {
    display: flex;

    gap: 20px;
}

.section-item .category-post {
    text-transform: uppercase;
}

.section-item .title-post {
    margin: 15px 0;
    font-size: 4rem;
}

.section-item .name-user {
    font-size: 1.5rem;
}

.section-item .user {}

.section-item hr {
    margin: 20px 0;
}

.section-item .user .avt-user {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

}

.section-item .introductory {
    font-weight: bold;
    padding: 15px 0;
    font-size: 2rem;
}

.section-item .img-post {
    padding: 20px 0;
}

.section-item .img-post img {
    border-radius: 5px;
}

.section-item .hashtag {
    display: flex;
    gap: 10px;
    align-items: center;

}

.section-item .hashtag a {
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 20px;
    font-weight: 500;
    color: black;
    font-size: 1.3rem;
}

.loader-wrap {
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    display: flex;

}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }

    66% {
        background: #FF3D00;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
}