img {
    height: auto;
    width: 100%;
}

.title-products {
    text-align: center;
    margin: 125px 0 25px 0;
    letter-spacing: 5px;
    text-shadow: 3px 3px 20px rgb(205, 227, 43),
        -2px 1px 30px #ff99cc;
}

.products {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.img-product h3 {
    min-height: 50px;
    font-size: 2.5rem;
    margin: 15px 0 0 0;

}

.products .item-product {
    flex-basis: 20%;
    padding: 15px;
    box-shadow: rgba(183, 146, 146, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #3F4E4F;
    border-radius: 10px;
}

.item-product .detail-control {
    display: flex;
    text-align: left;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;

}

.item-product .detail-product {
    text-align: center;
}



.btn-add {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.btn-add:hover {
    background-color: rgb(127, 221, 125);
    color: #fff;

}

.price {
    font-size: 3rem;
    color: #54d94d;
}